section {
    text-align: center;
}
.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 750px;
    margin: 50px auto;
}
.cell{
    width: 250px;
    height: 250px;
    border: 1px solid black;
    box-sizing: border-box;
}
.cell:hover{
    background-color: lightgray;
}